<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'film-style.css' %}">
    </head>

    <body>


    <ul class="navigation">
      <li><a href="{% url 'index' %}">Галоуная</a></li>
      <li><a href="{% url 'catalog' %}">Фiльмы</a></li>
      <li><a href="{% url 'p_film' %}">Кино просмотры</a></li>
      <li><a href="#">Серыялы</a></li>
      <li><a href="/pages/about/">Пра нас</a></li>

    </ul>

    {% block content %}

    {% endblock %}

    </body>
</html>