<!DOCTYPE html>
{% load static %}
{% load i18n %}

<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'film-style.css' %}">
        <script type="text/javascript" src="{% static 'tcal.js'"></script>
    </head>

    <body>
        <ul class="navigation">
            <li><a href="{% url 'index' %}">{% trans 'Index' %}</a></li>
            <li><a href="{% url 'catalog' %}">{% trans 'Movies' %}</a></li>
            <li><a href="{% url 'p_film' %}">{% trans 'Screenings' %}</a></li>
            <li><a href="/pages/about/">{% trans 'About us' %}</a></li>
        </ul>

        {% block content %}

        {% endblock %}
    </body>
</html>