{% extends "base.html" %}

{% load static %}

{% block content %}
    <content class="catalog">
        <div class="film">
            <span>welcome</span>
        </div>
    </content>

    {% include page_template %}
        {% block js %}
            {{ block.super }}
            <script src="{% static 'js/jquery-1.11.1.js' %}"></script>
            <script src="{% static 'js/el-pagination/js/el-pagination.js' %}"></script>
            <script>
                $.endlessPaginate({
                    paginateOnScroll: true
                });
            </script>
        {% endblock %}
{% endblock %}