{% load el_pagination_tags %}


{% paginate films%}
{% for film in films%}
        <div>
            <div class="news">

                <a class="film" href="#" style="background-image: url('{{ film.image.url }}')">
                    <div class="film-info">
                        <h1 class="film-play-icon"><i class="fa fa-play-circle-o" aria-hidden="true"></i></h1>
                        <h1 class="film-name">{{ film.name }} </h1>
                    </div>
                </a>
            </div>
        </div>
{% endfor %}
{% show_more %}