{% extends "base.html" %}

{% load static %}
{% load i18n %}

{% block content %}

<content>
    <div class="carousel">
        <img src="{% static 'img/carousel.png' %}">
    </div>

    <div class="news-gallery category">
        <header>
            <a href="#"><h1 class="category-name">{% trans 'News' %}</h1></a>
            <a href="#" class="category-view-all-wrapper"><h3 class="category-view-all">
                    праглядзець астатняе <i class="fa fa-window-restore" aria-hidden="true"></i>
                </h3>
            </a>
        </header>

        <div class="news-block">
        {% for n in news1 %}
            <div>
                <div class="news">
                    <!-- news items starts-->
                    <a href="{% url 'news_id' pk=n.pk %}" class="image-wrapper" style="background-image: url({{ n.badge_image.url }})">

                    </a>
                    <div>
                        <div class="news-meta">
                            <a href="#"><p class="category-link">Навіны</p></a>
                            <div>
                                <p><i class="fa fa-commenting-o" aria-hidden="true"></i>3</p>
                                <p><i class="fa fa-clock-o" aria-hidden="true"></i>{{ n.published_date }}</p>
                            </div>
                        </div>
                        <a class="news-title" href="{% url 'news_id' pk=n.pk %}">
                            {{ n.title }}
                        </a>
                        <p class="news-text">
                            <a href="{% url 'news_id' pk=n.pk %}">
                                Хочаце сапраўды класны фільм на каляспартыўную тэматыку? Не пра баскетбол. А такі, дзе героі не плоскія...
                            </a>
                        </p>
                    </div>
                    <!-- news items ends-->
                </div>
            </div>
        {% endfor %}
        </div>
        <div class="news-block">
        {% for n in news2 %}
            <div>
                <div class="news">
                    <!-- news items starts-->
                    <a href="{% url 'news_id' pk=n.pk %}" class="image-wrapper" style="background-image: url({{ n.badge_image.url }})">
                    </a>
                    <div>
                        <div class="news-meta">
                            <a href="#"><p class="category-link">Навіны</p></a>
                            <div>
                                <p><i class="fa fa-commenting-o" aria-hidden="true"></i>3</p>
                                <p><i class="fa fa-clock-o" aria-hidden="true"></i>{{ n.published_date }}</p>
                            </div>
                        </div>
                        <a class="news-title" href="{% url 'news_id' pk=n.pk %}">
                            {{ n.title }}
                        </a>
                        <p class="news-text">
                            <a href="{% url 'news_id' pk=n.pk %}">
                                Хочаце сапраўды класны фільм на каляспартыўную тэматыку? Не пра баскетбол. А такі, дзе героі не плоскія...
                            </a>
                        </p>
                    </div>
                    <!-- news items ends-->
                </div>
            </div>
        {% endfor %}
        </div>
    </div>

    <div class="category">
        <header>
            <a href="#"><h1 class="category-name">Драмы</h1></a>
            <a href="#" class="category-view-all-wrapper"><h3 class="category-view-all">
                    праглядзець астатняе <i class="fa fa-window-restore" aria-hidden="true"></i>
                </h3>
            </a>
        </header>


        <div class="news-block">
        {% for film in test_films %}
            <div>
                <div class="news">

                    <a class="film" href="#" style="background-image: url({{ film.image.url }})">
                        <div class="film-info">
                            <h1 class="film-play-icon"><i class="fa fa-play-circle-o" aria-hidden="true"></i></h1>
                            <h1 class="film-name">{{ film.name }} </h1>
                        </div>
                    </a>
                </div>
            </div>
        {% endfor %}
        </div>

        <div class="news-block">
        {% for film in test_films %}
            <div>
                <div class="news">

                    <a class="film" href="#" style="background-image: url({{ film.image.url }})">
                        <div class="film-info">
                            <h1 class="film-play-icon"><i class="fa fa-play-circle-o" aria-hidden="true"></i></h1>
                            <h1 class="film-name">{{ film.name }} </h1>
                        </div>
                    </a>
                </div>
            </div>
        {% endfor %}
        </div>

    </div>
</content>
{% endblock %}