{% extends "base.html" %}

{% load static %}
{% load i18n %}
{% load kinakipa_extras %}

{% block content %}

<content>

    <div class="carousel-wrapper">
        <div class="carousel">
            <div class="hero-slide" style="background-image: url({% static 'img/thegoodson-1920x1080.jpg' %})">
                <div class="hero-info">
                    <div class="title">The Good Son</div>
                    <div class="length">89 {% trans 'min' %} | </div>
                    <div class="year">2013 | </div>
                    <div class="genres">{% trans 'Sports' %}</div>
                </div>
                <div style="clear:both;"></div>
                <a class="hero-go-button" href="#">{% trans 'Watch now' %}</a>
            </div>
            <div class="hero-slide" style="background-image: url({% static 'img/thegoodson-1920x1080.jpg' %})">

            </div>
            <div class="hero-slide" style="background-image: url({% static 'img/thegoodson-1920x1080.jpg' %})">

            </div>
        </div>
    </div>

    <div class="news-gallery category">
        <header>
            <a href="#"><h1 class="category-name">{% trans 'News' %}</h1></a>
            <a href="#" class="category-view-all-wrapper"><h3 class="category-view-all">
                    {% trans 'View more' %}<i class="fa fa-window-restore" aria-hidden="true"></i>
                </h3>
            </a>
        </header>

        <div class="news-block">
        {% for n in news1 %}
            <div>
                <div class="news">
                    <!-- news items starts-->
                    <a href="{% url 'news_id' pk=n.pk %}" class="image-wrapper" style="background-image: url({{ n.badge_image.url }})">

                    </a>
                    <div>
                        <div class="news-meta">
                            <a href="#"><p class="category-link">Навіны</p></a>
                            <div>
                                <p><i class="fa fa-clock-o" aria-hidden="true"></i>{{ n.published_date|format_latest_date }}</p>
                            </div>
                        </div>
                        <div class="news-text-wrapper">
                            <a class="news-title" href="{% url 'news_id' pk=n.pk %}">
                                {{ n.title }}
                            </a>
                            <p class="news-text">
                                <a href="{% url 'news_id' pk=n.pk %}">
                                    {{ n.content|clean_text|safe  }}
                                </a>
                            </p>
                        </div>
                    </div>
                    <!-- news items ends-->
                </div>
            </div>
        {% endfor %}
        </div>

        <div class="news-block">
        {% for n in news2 %}
            <div>
                <div class="news">
                    <!-- news items starts-->
                    <a href="{% url 'news_id' pk=n.pk %}" class="image-wrapper" style="background-image: url({{ n.badge_image.url }})">
                    </a>
                    <div>
                        <div class="news-meta">
                            <a href="#"><p class="category-link">{% trans 'News' %}</p></a>
                            <div>
                                <p><i class="fa fa-clock-o" aria-hidden="true"></i>{{ n.published_date|format_latest_date }}</p>
                            </div>
                        </div>
                        <div class="news-text-wrapper">
                            <a class="news-title" href="{% url 'news_id' pk=n.pk %}">
                                {{ n.title }}
                            </a>
                            <p class="news-text">
                                <a href="{% url 'news_id' pk=n.pk %}">
                                    {{ n.content|clean_text|safe  }}
                                </a>
                            </p>
                        </div>
                    </div>
                    <!-- news items ends-->
                </div>
            </div>
        {% endfor %}
        </div>
    </div>


    <div class="category">
        <header>
            <a href="#"><h1 class="category-name">{% trans 'Dramas' %}</h1></a>
            <a href="#" class="category-view-all-wrapper"><h3 class="category-view-all">
                    {% trans 'View more' %} <i class="fa fa-window-restore" aria-hidden="true"></i>
                </h3>
            </a>
        </header>

        <div class="news-block">
        {% for film in drama1 %}
            <div>
                <div class="news">

                    <a class="film" href="{% url 'film_id' film_id=film.id %}" style="background-image: url('{{ film.image.url }}')">
                        <div class="film-info">
                            <h1 class="film-play-icon"><i class="fa fa-play-circle-o" aria-hidden="true"></i></h1>
                            <h1 class="film-name">{{ film.name }} </h1>
                        </div>
                    </a>
                </div>
            </div>
        {% endfor %}
        </div>

        <div class="news-block">
        {% for film in drama2 %}
            <div>
                <div class="news">

                    <a class="film" href="{% url 'film_id' film_id=film.id %}" style="background-image: url('{{ film.image.url }}')">
                        <div class="film-info">
                            <h1 class="film-play-icon"><i class="fa fa-play-circle-o" aria-hidden="true"></i></h1>
                            <h1 class="film-name">{{ film.name }} </h1>
                        </div>
                    </a>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>


    <div class="category">
        <header>
            <a href="#"><h1 class="category-name">{% trans 'Comedies' %}</h1></a>
            <a href="#" class="category-view-all-wrapper"><h3 class="category-view-all">
                    {% trans 'View more' %} <i class="fa fa-window-restore" aria-hidden="true"></i>
                </h3>
            </a>
        </header>

        <div class="news-block">
        {% for film in comedies1 %}
            <div>
                <div class="news">

                    <a class="film" href="{% url 'film_id' film_id=film.id %}" style="background-image: url('{{ film.image.url }}')">
                        <div class="film-info">
                            <h1 class="film-play-icon"><i class="fa fa-play-circle-o" aria-hidden="true"></i></h1>
                            <h1 class="film-name">{{ film.name }} </h1>
                        </div>
                    </a>
                </div>
            </div>
        {% endfor %}
        </div>

        <div class="news-block">
        {% for film in comedies2 %}
            <div>
                <div class="news">

                    <a class="film" href="{% url 'film_id' film_id=film.id %}" style="background-image: url('{{ film.image.url }}')">
                        <div class="film-info">
                            <h1 class="film-play-icon"><i class="fa fa-play-circle-o" aria-hidden="true"></i></h1>
                            <h1 class="film-name">{{ film.name }} </h1>
                        </div>
                    </a>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>


     <div class="category">
        <header>
            <a href="#"><h1 class="category-name">{% trans 'Crimes' %}</h1></a>
            <a href="#" class="category-view-all-wrapper"><h3 class="category-view-all">
                    {% trans 'View more' %} <i class="fa fa-window-restore" aria-hidden="true"></i>
                </h3>
            </a>
        </header>

        <div class="news-block">
        {% for film in crimes1 %}
            <div>
                <div class="news">

                    <a class="film" href="{% url 'film_id' film_id=film.id %}" style="background-image: url('{{ film.image.url }}')">
                        <div class="film-info">
                            <h1 class="film-play-icon"><i class="fa fa-play-circle-o" aria-hidden="true"></i></h1>
                            <h1 class="film-name">{{ film.name }} </h1>
                        </div>
                    </a>
                </div>
            </div>
        {% endfor %}
        </div>

        <div class="news-block">
        {% for film in crimes2 %}
            <div>
                <div class="news">

                    <a class="film" href="{% url 'film_id' film_id=film.id %}" style="background-image: url('{{ film.image.url }}')">
                        <div class="film-info">
                            <h1 class="film-play-icon"><i class="fa fa-play-circle-o" aria-hidden="true"></i></h1>
                            <h1 class="film-name">{{ film.name }} </h1>
                        </div>
                    </a>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>


    <div class="category">
        <header>
            <a href="#"><h1 class="category-name">{% trans 'Fiction' %}</h1></a>
            <a href="#" class="category-view-all-wrapper"><h3 class="category-view-all">
                    {% trans 'View more' %} <i class="fa fa-window-restore" aria-hidden="true"></i>
                </h3>
            </a>
        </header>

        <div class="news-block">
        {% for film in fiction1 %}
            <div>
                <div class="news">

                    <a class="film" href="{% url 'film_id' film_id=film.id %}" style="background-image: url('{{ film.image.url }}')">
                        <div class="film-info">
                            <h1 class="film-play-icon"><i class="fa fa-play-circle-o" aria-hidden="true"></i></h1>
                            <h1 class="film-name">{{ film.name }} </h1>
                        </div>
                    </a>
                </div>
            </div>
        {% endfor %}
        </div>

        <div class="news-block">
        {% for film in fiction2 %}
            <div>
                <div class="news">

                    <a class="film" href="{% url 'film_id' film_id=film.id %}" style="background-image: url('{{ film.image.url }}')">
                        <div class="film-info">
                            <h1 class="film-play-icon"><i class="fa fa-play-circle-o" aria-hidden="true"></i></h1>
                            <h1 class="film-name">{{ film.name }} </h1>
                        </div>
                    </a>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>

</content>
{% endblock %}