{% extends "base.html" %}

{% block content %}
<content class="film-group recent">
<header class="header">
		<div class="title item"><h2>Апошняе</h2></div>
		<div class="devider item">|</div>
		<a href="#" class="see-all item">Праглядзець астатняе</a>
	</header>
	<div class="films">
		<!--
			class films unused now 14.11
		-->
		<ul class="flex-container">
		  <li class="flex-item"><a href="#" class="film-1">1</a></li>
		  <li class="flex-item"><a href="#" class="film-2">2</a></li>
		  <li class="flex-item"><a href="#" class="film-3">3</a></li>
		  <li class="flex-item"><a href="#" class="film-4">4</a></li>
		  <li class="flex-item"><a href="#" class="film-4">4</a></li>
		</ul>
	</div>
    <div class="baner">
        <span>!</span>

    </div>
</content>
{% endblock %}
