{% load el_pagination_tags %}
{% load i18n %}
{% load kinakipa_extras %}


{% paginate news%}
{% for n in news%}
    <div class="news-gallery-item">
        <div class="news">
            <!-- news items starts-->
            <a href="{% url 'news_id' pk=n.pk %}" class="image-wrapper" style="background-image: url({{ n.badge_image.url }})">

            </a>
            <div>
                <div class="news-meta">
                    <a href="#"><p class="category-link">{% trans 'News' %}</p></a>
                    <div>
                        <p><i class="fa fa-clock-o" aria-hidden="true"></i>{{ n.published_date|format_latest_date }}</p>
                    </div>
                </div>
                <div class="news-text-wrapper">
                    <a class="news-title" href="{% url 'news_id' pk=n.pk %}">
                        {{ n.title }}
                    </a>
                    <p class="news-text">
                        <a href="{% url 'news_id' pk=n.pk %}">
                            {{ n.content|clean_text|safe  }}
                        </a>
                    </p>
                </div>
            </div>
            <!-- news items ends-->
        </div>
    </div>
{% endfor %}
{% show_more %}