{% extends "base.html" %}

{% load static %}

{% block content %}
    <content class="news-group">
        <div class="news-navigation-strip">
            <h4>
                <a href="#" class="main">Навiны кiно</a><span class="devider"> | </span><a href="#">{{last_news.title}}</a>
            </h4>
        </div>

        <h4 class="news-title">{{last_news.title}}</h4>
        <h5 class="news-date">{{time}}</h5>

        <div class="news_content">
            <div class="content-wrapper">
                {{last_news.content|safe}}
            </div>
        </div>

        <div class="news-video">
            
        </div>
    </content>
{% endblock %}