// fonts
$main-font: Helvetica, "Lucida Grande", "Lucida Sans Unicode", sans-serif;

// colors
$white: #fff;
$logo-color: #8cd5d7;
$menu-background-color: #111;
$blackout: rgba(0,0,0,0.3);

$category-color: #6886c2;
// sizes
$news-left-margin: 10%;

//slider
$slider-shadow-width: 100px;