<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

<ul class="navigation">
  <li><a href="#">Галоуная</a></li>
  <li><a href="#">Фiльмы</a></li>
  <li><a href="#">Серыялы</a></li>
  <li><a href="#">Пра нас</a></li>
</ul>

<content class="film-group recent">
    <header>
        <div class="title item"><h2>Навіны</h2></div>
        <div class="devider item">|</div>
        <a href="index.html" class="see-all item">На галоўную</a>
    </header>
</content>

</body>
</html>