body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'helioscondcregular', sans-serif;
  color: #000;
  font-weight: 300;
  background: #fff;
}

h1, h2, h3, h4, h5, h6 {
 position: relative;
 font-family: 'league_gothicregular', sans-serif;
 font-weight: normal;
}

.title h2 {
  font-weight: bold;
  font-size: 100%;
}

.navigation {
  list-style: none;
  margin: 0;
  
  background: #222;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: flex-end;
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
}

.navigation a:hover {
  background: tomato;
}

@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
}

@media all and (max-width: 600px) {
  .navigation {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0;
  }
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: space-between;
}

.flex-item {
  background: tomato;
  padding: 0;
  width: 210px;
  height: 310px;
  line-height: 310px;
  color: white;
  font-weight: bold;
  font-size: 0;
  text-align: center;
  text-decoration: none;
}

.flex-item:hover {
  opacity: 0.6;
}

.flex-item .film-1, .flex-item .film-2, .flex-item .film-3, .flex-item .film-4 {
display: block;
background-size: cover;
}

.flex-item .film-1 {
background: url(img/1.JPG);
}

.flex-item .film-2 {
background: url(img/2.jpg);
}

.flex-item .film-3 {
background: url(img/3.jpg);
}

.flex-item .film-4 {
background: url(img/4.jpg);
}


.p-t-50 {
  padding-top: 50px;
}


.film-group header {
  display: inline-block;
  width: 100%;
  padding: 0 0 15px;
}


.film-group {
  display: block;
  margin: 35px 5%;
}

.film-group header .title {
  display: inline-block !important;
  font-size: 28px !important;
  line-height: normal !important;
  margin-left: 0 !important;
  text-transform: none !important;
  font-weight: bold; !important;
}

.film-group header .devider {
  background: none repeat scroll 0 0 silver;
  color: #a4a4a4;
  display: inline-block;
  font-size: 40px;
  font-weight: 400 !important;
  height: 25px;
  margin: 0 10px;
  overflow: hidden;
  position: relative;
  top: 3px;
  width: 1px;
}

.film-group header .see-all {
  color: tomato !important;
  display: inline-block !important;
  float: none !important;
  font-size: 20px !important;
  position: relative !important;
  right: auto !important;
  top: -2px !important;
  text-decoration: none !important;
  line-height: 20px;
}

.news-group {
  display: block;
  margin: 0% 35% 5% 20%;
  background-color: #f7f4f4;
  font-family: 'league_gothicregular', sans-serif;
}

.news-group header {
  display: inline-block;
  width: 80%;
  padding-left: 15px;
}

.news-group header .title {
  font-weight: bold; !important;
}

.news-group header .title h3 {
  font-size: 22px !important;
  font-weight: bold;
}

.news-group header .title h4 {
  font-size: 16px !important;
  font-weight: bold;
  color: #302f2f;
}

.news-group header .title h5 {
  font-size: 14px !important;
  color: #7c7b7b;
}

.news-group .content {
  display: block;
  font-size: 15px;
}

.news-group .content img {
  max-width: 100%;
  max-height: 300px;
}

.news-group .content p {
  padding-left: 10px;
  margin: 5% 10% 0% 0%;
  color: #3d3a3a;
}