{% extends 'base.html' %}

{% load i18n %}
{% load kinakipa_extras %}

{% block content %}

    <form method="get" action=".">
    <div class="search-menu">
        <input class="search-pole" type="search" name="q" placeholder="Search.." id="id_q">
        <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
        <div class="additional-search-menu">
            <label>Search In:</label>fs
            <ul id="id_models">
                <li>
                    <label for="id_models_0"><input type="checkbox" name="models" value="KinaKipa.article" id="id_models_0">Articles</label>
                </li>
                <li>
                    <label for="id_models_1"><input type="checkbox" name="models" value="KinaKipa.film" id="id_models_1" checked="">Films</label>
                </li>
            </ul>
        </div>
    </div>
        {% if query %}
            <h3>Results</h3>
            <div class="search-results-block">

            {% for result in page.object_list %}
                    {% if result.model_name == "article" %}
                       <div>
                            <div class="news">
                                <!-- news items starts-->
                                <a href="{% url 'news_id' pk=result.object.pk %}" class="image-wrapper" style="background-image: url('{{ result.object.badge_image.url }}')">
                                </a>
                                <div>
                                    <div class="news-meta">
                                        <a href="#"><p class="category-link">{% trans 'News' %}</p></a>
                                        <div>
                                            <p><i class="fa fa-clock-o" aria-hidden="true"></i>{{ result.object.published_date|format_date }}</p>
                                        </div>
                                    </div>
                                    <div class="news-text-wrapper">
                                        <a class="news-title" href="{% url 'news_id' pk=result.object.pk %}">
                                            {{ result.object.title }}
                                        </a>
                                        <p class="news-text">
                                            <a href="{% url 'news_id' pk=result.object.pk %}">
                                                {{ result.object.content|clean_text|safe  }}
                                            </a>
                                        </p>
                                    </div>
                                </div>
                                <!-- news items ends-->
                            </div>
                        </div>
                    {% endif %}

                    {% if result.model_name == "film" %}
                        <div>
                            <div class="news">

                                <a class="film" href="#" style="background-image: url('{{ result.object.image.url }}')">
                                    <div class="film-info">
                                        <h1 class="film-play-icon"><i class="fa fa-play-circle-o" aria-hidden="true"></i></h1>
                                        <h1 class="film-name">{{ result.name }} </h1>
                                    </div>
                                </a>
                            </div>
                        </div>
                    {% endif %}
            {% empty %}
                <p>No results found.</p>
            {% endfor %}
            </div>

            {% if page.has_previous or page.has_next %}
                <div>
                    {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                    |
                    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
                </div>
            {% endif %}
        {% else %}
            {# Show some example queries to run, maybe query syntax, something else? #}
        {% endif %}
    </form>
{% endblock %}